* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug .container {
  background-color: pink;
  border: 1px solid black;
}

.debug .container [class*="col-"]{
  border: 1px solid black;
}

.debug .container #sub-container > div {
  border: 1px solid white;
  background-color: #f07f80;
}

.container {
  height: 200px;
  width: 60%;
  margin: 0 auto;
}

.container [class*="col-"] {
  text-align: center;
  line-height: 200px;
  font-weight: bold;
}

#sub-container {
  width: 100%;
  padding: 5px;
}
